<div id="<%= dom_id quote %>">
  <div>
    <strong>Quote no:</strong>
    <%= quote.quote_no %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= quote.status %>
  </div>

  <div>
    <strong>Subtotal:</strong>
    <%= quote.subtotal %>
  </div>

  <div>
    <strong>Tax:</strong>
    <%= quote.tax %>
  </div>

  <div>
    <strong>Total:</strong>
    <%= quote.total %>
  </div>

  <div>
    <strong>Issued on:</strong>
    <%= quote.issued_on %>
  </div>

  <div>
    <strong>Note:</strong>
    <%= quote.note %>
  </div>

  <div>
    <strong>Project:</strong>
    <%= quote.project_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= quote.user_id %>
  </div>

</div>
