<div id="<%= dom_id client %>">
  <div>
    <strong>Name:</strong>
    <%= client.name %>
  </div>

  <div>
    <strong>Contact name:</strong>
    <%= client.contact_name %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= client.phone %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= client.email %>
  </div>

</div>
