<div id="<%= dom_id project %>">
  <div>
    <strong>Name:</strong>
    <%= project.name %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= project.status %>
  </div>

  <div>
    <strong>Note:</strong>
    <%= project.note %>
  </div>

  <div>
    <strong>Client:</strong>
    <%= project.client_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= project.user_id %>
  </div>

</div>
